body {
    margin: 0;
    padding: 0;
    font-family: 'monospace', monospace;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
}

.center-container {
    text-align: center;
    margin-bottom: 30px;
}

.name {
    font-size: 3em;
    margin-bottom: 10px;
}

.coming-soon {
    font-size: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dots-container {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.dot {
    width: 0.3em;
    height: 0.3em;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 0.1em;
    opacity: 0;
    animation: fade 1.5s infinite ease-in-out;
}


.dot:nth-child(1) {
    animation-delay: 0s;
}

.dot:nth-child(2) {
    animation-delay: 0.5s;
}

.dot:nth-child(3) {
    animation-delay: 1s;
}

@keyframes fade {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}

.button-container {
    display: flex;
    gap: 20px;
}

.social-button {
    padding: 10px 20px;
    border: 2px solid #fff;
    border-radius: 50px;
    background-color: #000;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: background-color 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.social-button:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    .button-container {
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .social-button {
        box-sizing: border-box;
        text-align: center;
    }
}
